<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jsol.hours" version="1.0.0" versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Hours</name>
    <description>
      Reporting working hours.
  </description>
    <author email="jens@rootsy.nu" href="https://build.phonegap.com">
      Jens Olsson
  </author>
    <preference name="AndroidLaunchMode" value="singleTask" />
    <plugin name="com.borismus.webintent" spec="https://github.com/cordova-misc/cordova-webintent.git" />
<config-file platform="android" parent="/manifest" mode="merge">
  <application>
    <activity>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:host="14.pedell.net" android:scheme="http" />
      </intent-filter>
    </activity>
  </application>
</config-file>
</widget>
