<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jsol.hours" version="1.0.0" versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Hours</name>
    <description>
      Reporting working hours.
  </description>
    <author email="jens@rootsy.nu" href="https://build.phonegap.com">
      Jens Olsson
  </author>
    <plugin name="phonegap-plugin-barcodescanner" spec="^7.1.1" />
</widget>
