#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content input {
  text-align: center;
  font-size: 36px;
  margin-top: 10%;
  height: 10%;
  width: 100%
}

#content button {
  margin-top: 10%;
  font-size: 36px;
  height: 10%;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: #ede0c8;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #131313;
  cursor: pointer;
}

.feedback-ok {
  font-size: 48px;
  color: rgb(20, 240, 20);
}
.feedback-error {
  font-size: 48px;
  color: rgb(240, 20, 20);
}
.feedback-warn {
  font-size: 48px;
  color: rgb(200, 200, 20);
}
