#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-size: 48px;
}

#content input {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

#explanation {
  width: 40em;
}
#existing {
  width: 40em;
  display: none;
  margin-bottom: 10px;
}

#content button {
  margin-top: 20px;
  font-size: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: #ede0c8;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #131313;
  cursor: pointer;
}

.ok {
  font-size: 48px;
  color: rgb(20, 240, 20);
}
.failed {
  font-size: 48px;
  color: rgb(240, 20, 20);
}
body {
  background: #faf8ef;
}
